body {
    font-family: "Poppins", sans-serif;
    background-color: #fcfcfc;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0E8D44;
    text-decoration: none;
}

#headerName a {
    text-decoration: none;
    color: #0E8D44;
}

.contactCard {
    width: 70vw;
    margin: auto;
}

.contactText{
    border-left: #0E8D44 2px dotted;
    padding-left: 10px;
    font-size: 1.5rem;
    padding: 30px;
}
.contactItemsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactItems{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contactItems i {
    font-size: 1.5rem;
}
.contactItems a{
    text-decoration: none;
    color: black;
}

/* ------- TABLETS --------- */
@media (min-width:820px) {
    .contactCard {
        width: 60vw;
        margin: auto;
        padding: 10px;
    }
}

/* ------- DESKTOP --------- */
@media(min-width:961px) {
    .contactCard {
        width: 40vw;
        margin: auto;
        padding: 10px;
    }

    .contactCardLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contactText {
        font-size: 2rem;
        border-left: #0E8D44 2px dotted;
        padding-left: 30px;
        line-height: 1.6;
    }

    .contactCard h1{
        font-size: 50px;
    }

    .contactItems {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .contactItems p {
        margin: 10px;
    }

    .contactItems a {
        text-decoration: none;
        color: black;
    }

    .contactItems i {
        font-size: 2rem;
    }
}